.body{

}

a {
    color: #ff3a10;
    text-decoration: none;
}
.top{
    padding-top: 4vw;
    padding-bottom : 0vw;
    background-color: #fff;
    text-align: center;
}

.top img{
    width : 65%;
}

.navbar{
    display : flex;
    align-items : center;
    justify-content: space-around;
    margin-left : -30px;
}

.navbar-menu{
    font-family: Raleway;
    display : flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top : 0vw;
    padding-bottom : 2vw;
}

.navbar-menu li{
    list-style: none;
}

.navbar-menu a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6vw;
    font-weight: 400;
    color: #ff3a10;
}

#intro{
    font-family: Raleway;
    font-weight: 700;
    align-self: self-end;
    font-size: 3vw;
    letter-spacing: 1.5px;
    padding-bottom: 1vw;
    width:55%;
}

#intro p{
    text-align: center;
    margin-top : 1vw;
    margin-bottom : 1vw;
    font-size: 3.5vw;


}

.touchpoint{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    padding-top : 4vw;
    padding-bottom : 6vw;
}



.head{
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 800;
    padding-top: 2vw;
}
.content{
    font-family: 'Alike', serif;
    font-weight: 400;
    font-size : 1.3vw;
    line-height : 1.7em;
    text-align : justify;
    letter-spacing: 1px;
    padding-bottom : 3vw;
}

.container-speach {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.speach {
    text-align: center;
    width: 48%; /* Pour les écrans larges */
    margin-bottom: 20px;
}

.speach img {
    width : 100%;
    border-radius: 10px;
}

.speach p {
    font-family: 'Alike', serif;
    font-weight: 400;
    font-size: 1.1vw ;
    margin-top: 0.5em;
    text-align: justify;
    letter-spacing: 1px;
}

.about-img {
    width: 35%; /* Pour les écrans larges */
    
}
.about-img img {
    width : 100%;
}


.about-text {
    text-align: center;
    width: 60%; /* Pour les écrans larges */
    margin-bottom: 20px;
    margin-top : 1em;
}



.about-text p {
    font-family: 'Alike', serif;
    font-weight: 400;
    font-size : 1.3vw;
    line-height : 1.7em;
    letter-spacing: 1px;
    margin-top: 0.5em;
    text-align: justify;
}


.tarot {
    margin-top: 5vw;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.contact {
    flex: 0 0 auto;
    height: 2vw;
}

.contact>img {
    height: 40%;
    width: auto; 
    flex: 0 0 auto; 
    display: block;
}

#contact-mail{
    padding-top : 2vw;
    font-size: 2.2vw;
}

#contact-head {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 2vw;
    font-size: 3.5vw;
}

.social {
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 2vw;
padding-right: 79% ;
}

#social-icon {
    height: 4vw;
    
}

.wrapper {
    
    display : flex;
    flex-direction: column;
    justify-content: center;
    padding-top : 10px;
    padding-left : 18vw;
    padding-right : 18vw;
    padding-bottom: 10vw;
    background-color: #fff;
}

.wrapper-index {
    padding-right: 0vw;
    padding-top:3vw;
}

.wrapper-audio {
    

    padding-top : 10px;
    padding-left : 16vw;
    padding-right : 18vw;
    padding-bottom: 20vw;
    background-color: #fff;
}



.whoami {
    display : flex;
    justify-content :space-between;
    padding-left: 17vw;
    padding-right: 10vw;
}

.photo {
    width:45%;
    justify-content: right;
}

.audio {
    font-family: 'Alike', serif;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    padding-top: 1.5vw;
}

.audio img{
    width : 30%;
    padding: 1vw;
    padding-bottom: 2.5vw;
}

.audio p{
    width: 66%;
    font-size: 1.3vw;
    padding-top: 0.5vw ;
    padding-left : 0.5vw;
    line-height: 2.2vw;
    letter-spacing: 1px;

}

.audiopic{
    flex-basis: 30%;
}

.audio-content{
    flex-basis: 70%;

}

.intro {
    flex : 1;
    margin-bottom : 4vw;
}

 .services {
    display : flex;
    justify-content: space-around;
    padding : 3vw;
    padding-top : 1vw;


 }

#list-xp li{
    margin-top: 2vw;
    list-style-type: square;
    list-style: none;
}

#list-xp li::before {
    content: "\2022";
    color: #ff3a10;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

#katie {
    width:50vw;
    max-width: 70%;
}

#services-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#bio {
    font-size : 2vw;
    align-content : flex-end;
    padding-bottom: 0.5vw;
}

.title {
    display : flex;
    justify-content: center;
    font-size: 4vw;
    margin-top: 8vw;
    margin-bottom: 6vw;
    letter-spacing: 2px;

}




.content>a{
    text-decoration: none;
}

.content>a:link {
    color: #000;
    border-bottom: 2px solid #cfe4d5;
}
.content>a:hover {
    color: #000;
    border-bottom: 5px solid #cfe4d5;
}
.content>a:visited {
    color: #000;
    border-bottom: 2px solid #cfe4d5;
}



#hamburger-icon {
    position: absolute;
    top: 7vw;
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: #ff3a10;
    margin: 3px 0;
    transition: 0.5s;
  }


  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }


  /*
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    margin-top : 10vw;

  }*/
  .mobile-menu {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #ff3a10;
    background: white;
   /* background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
    */
    z-index: 100;
    /*transform: translateX(10%);
    transition: transform 10s ease;*/
    padding-top: 10vw;
}


  .mobile-menu li {
    margin-bottom: 10px;
    list-style: none;
    margin-left: -20vw;
    
    padding-bottom: 5vw;
  }

  .mobile-menu a{
    font-family: Raleway;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 5vw;
    font-weight: 400;
    color: #ff3a10;
}





/* ============================================================================================================================
======================================================.   Medium screens ======================================================
=============================================================================================================================*/





@media all and (max-width: 800px) {

    .top img {
        width: 75%;
    }

    .navbar-menu{
        padding-left: 15%;
        padding-right: 15%;
    }

    .navbar-menu a {
        font-size: 2.2vw;
    }

    .wrapper {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      padding-left : 10%;
      padding-right : 10%;
    }
    .content {
        font-family: 'Alike', serif;
        font-weight: 400;
        font-size : 2.7vw;
        line-height : 1.5em;
        letter-spacing: 1px;
        margin-top: 0.5em;
        text-align: justify;
        padding-bottom : 3vw;
    }  
    
    .head{
        font-size: 3vw;
    }
    .instagram {
        flex-wrap: wrap;
    }

    .instagram>a {

        flex: 1 0 25%;
        border-style : none none solid solid;
        border-width: 1px;
        border-color : #cecece; 
        margin: 5px;

    }
    
    .whoami {
        display : flex;
        justify-content : center;
        flex-direction: column;
        align-items : center;
    }
    .photo {
        width:40vw;
        margin-right: 0vw;
        margin-bottom : 5vw;
        text-align: center;
    }

    #bio {
        font-size : 3.7vw;
    }
    
    #collaborators-name{
        font-size : 3.7vw;
    }

    #intro{
        font-family: Raleway;
        font-weight: 700;
        align-self:center;
        width:100%
    }

    #intro p{
        text-align: center;
        margin-top : 0vw;
        margin-bottom : 0vw;
        font-size: 5vw;
        line-height: 8vw;
    
    }

    .social{
        margin-bottom: 5vw
    }

    #social-icon {
        height: 6vw;
    }

    .about-img {
        width: 75%; /* Pour les écrans larges */
        margin:auto     
    }
    .about-img img {
        width : 90%;

    }
    
    
    .about-text {
        text-align: center;
        width: 100%; /* Pour les écrans larges */
        margin-bottom: 20px;
    }
    
    .about-text p {
        font-family: 'Alike', serif;
        font-weight: 400;
        font-size : 2.7vw;
        line-height : 1.5em;
        letter-spacing: 1px;
        margin-top: 0.5em;
        text-align: justify;
 
    }

    .audio {
        font-family: 'Alike', serif;
        display: flex;
        flex-direction: initial; 
        justify-content: center;
        flex-wrap: wrap;
        text-align: justify;
        padding-top: 4.5vw;
    }
    .audio p {

        font-size : 2.7vw;
        letter-spacing: 1px;
        margin-top: 0.5em;
        text-align: justify;
        width: 90%;
        line-height: 1.5em;
        padding-top: 0vw;
        padding-left: 0.5vw;
        padding-bottom: 10vw;
    }

    .audio img{
        width: 80%;
        padding-bottom: 0vw;
    }

    #about-mail{
        margin-top: 5vw;
    }

    .speach p {
        font-family: 'Alike', serif;
        font-weight: 400;
        font-size: 2.2vw ;
        margin-top: 0.5em;
        text-align: left;
    }

    .contact {
        height: 3.5vw;
  }
  




/* ============================================================================================================================
======================================================.   SMALL SCREENS  ======================================================
=============================================================================================================================*/



  @media all and (max-width: 500px) {
    header nav {
        display: none;
      }
    
      #hamburger-icon {
        display: block;
      }

    .top{
        padding-top: 4vw;
        padding-bottom : 0vw;
        padding-left: 5vw;
        background-color: #fff;
        text-align: center;
    }
    
    .top img{
        width : 85%;
    }
    
    .navbar{
        display : flex;
        align-items : center;
        justify-content: space-around;

    }
    
    .navbar-menu{
        font-family: Raleway;
        display : flex;
        justify-content: space-between;
        width : 90%;
        padding-top : 0vw;
        padding-bottom : 2vw;
    }
    
    
    .navbar-menu a{
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2.5vw;
        font-weight: 400;
        color: #ff3a10;
    }

    .head{
        font-size: 4vw;
    }

    .audio {
        font-family: 'Alike', serif;
        display: flex;
        flex-direction: initial; 
        justify-content: center;
        flex-wrap: wrap;
        text-align: justify;
        padding-top: 4.5vw;
    }
    .audio p {
        width: 90%;
        font-size: 3.7vw;
        line-height: 1.5em;
        padding-top: 0vw;
        padding-left: 0.5vw;
        padding-bottom: 10vw;
    }

    .audio img{
        width: 80%;
        padding-bottom: 0vw;
    }

    #intro{
        font-family: Raleway;
        font-weight: 700;
        align-self:center;
    }
    
    #intro p{
        text-align: center;
        margin-top : 0vw;
        margin-bottom : 0vw;
        font-size: 5vw;
        line-height: 8vw;
    
    }
    
    .contact {
        flex: 0 0 auto;
        height: 5vw;
    }

    #contact-mail {
        padding-top: 2vw;
        font-size: 4vw;
    }

    #contact-head {
        font-size: 5vw;
        font-family: Raleway;
        text-transform: uppercase;
        font-weight: 800;
        padding-top: 2vw;
    }

    .wrapper{
      flex-direction: column;
      padding-left : 5%;
      padding-right : 5%;
    }

    .wrapper-index {
    
        flex-direction: column;
        padding-left : 5%;
        padding-right : 5%;
    }

    .wrapper-audio {
        padding-left : 5vw;
        padding-right : 5vw;
    }

    .content {
        font-size: 3.7vw;
        line-height : 1.4em;
        text-align : justify;
        letter-spacing: 1px;
        padding-bottom : 3vw;
    }

    .speach p {
        font-family: 'Alike', serif;
        font-weight: 400;
        font-size: 3.5vw ;
        margin-top: 0.5em;
        text-align: justify;
    }

    .tarot {
        margin-top: 5vw;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
    .whoami {
        display : flex;
        justify-content : center;
        flex-direction: column;
        align-items : center;
        padding-top: 7vw;
    }
    .photo {
        width:85%;
        margin-right: 0vw;
        margin-bottom : 5vw;
        margin-top : 4vw;
        text-align: center;
    }

    .title {
        display : flex;
        justify-content: center;
        font-size: 6vw;
        letter-spacing: 2px;
    
    }

    .speach {
        width: 100%; 
    }

    #bio {
        font-size : 3.7vw;
    }

    #katie {
        width:100%;
        max-width: 70%;
    }


    #social-icon {
        height: 7vw;
        padding-right: 8vw;
    }

    .about-img {
        width: 100%; /* Pour les écrans larges */
    }
    .about-img img {
        width : 100%;
    }
    
    
    .about-text {
        text-align: center;
        width: 100%; /* Pour les écrans larges */
        margin-bottom: 20px;

    }
    
    .about-text p {
        font-family: 'Alike', serif;
        font-weight: 400;
        font-size : 3.7vw;
        line-height : 1.7em;
        letter-spacing: 1px;
        margin-top: 0.5em;
        text-align: justify;
 
    }

    #agent-mail-multiline {
        white-space: pre-wrap;
  }